export(vam, vamForCollection, vamForSeurat, createGeneSetCollection)
importFrom("MASS", "fitdistr")
importFrom("Matrix", "t")
importFrom("stats", "median", "pchisq", "pgamma", "var")
importFrom("methods", "slotNames")
